#about_text{
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 0.5rem;
  text-align: left; 
  width: calc(100% - 2.4rem);
  margin: 1.2rem 1.2rem 0 1.2rem;
  position: relative;
  z-index: 10;
}

#about_text p:not(.credits){
  font-size: 1rem;
  margin-bottom: 0.5rem;
  /*margin-bottom: 1rem; */
}

#about_text p a{
  color: #000;
  text-decoration: none;
  /*margin-bottom: 1rem; */
}

.credits{
  margin-top: 1rem;
  font-size: 0.6rem;
}

#about_text p a:hover{
  text-decoration: underline;
}

.about_image{
  position: fixed;
  pointer-events: none;
}

#about_pond{
  top: 60%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}

#about_tile{
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4.85rem;
}

#about_gate{
  bottom: 4.5rem;
  width: 100%;
  left: 0;
  z-index: 10;
}