
.contributors{
  display: block;
  margin-bottom: 3rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.contributors h2,
.contributors a{
  display: inline-block;
}

h1.contributors_heading{
  border-bottom: 1px solid #000;
  padding-bottom: 0.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.6rem;
  font-style: italic;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.contributors h2{
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.contributors a{
  color: #000;
  text-decoration: none;
}

.contributors a:hover{
  text-decoration: underline;
}

.contributor_image{
  position: fixed;
  pointer-events: none;
}

#flowers{
  width: 10rem;
  bottom: 0rem;
  right: 15%;
  max-height: 80vh;
}