html{
  font-size: 30px;
  font-family: serif;
}

body{
  opacity: 0;
  transition: opacity ease 0.8s, background-color ease 0.8s;
  background-color: #eee;
  margin-top: 6rem; 
}

.visible{
  opacity: 1;
}

header{
  position: fixed;
  left: 0rem;
  top: 1rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1.35rem;
  box-sizing: border-box;
  z-index: 20;
}

body{
  background-color: #eee;
}

nav,
#terrace_logo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#terrace_logo{
  height: 3rem;
  left: 1.35rem;
}

#nav_house{
  width: 4rem;
}

.header_image{
  pointer-events: none;
}

nav{
  right: 1.2rem;
}

#header_logo img{
  width: 14rem;
  margin-right: 1rem;
}

.header_image_link{
  display: inline-block;
}

nav a:link,
nav a:visited{
  text-decoration: none;
  position: relative;
  color: #000;
  background-color: #fff;
  padding: 0.25rem;
  font-size: 0.6rem;
  margin-left: 1rem;
}

nav a:hover,
nav a.selected{
  background-color: #ff0;
  color: #000;
}