#homepage{
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  /*opacity: 1;*/
}

.scale_container img{
  position: fixed;
}

#awning{
  position: fixed;
  top:5vw;
  width: 70%;
  z-index: 10;
  left: 15%;
  z-index: 20;
}

.window{
  max-width: 15%;
  max-height: 40vh;
  top: 50%;
  transform: translateY(-50%);
}

#window_l{
  left: 5%;
}

#window_r{
  right: 5%;
}

.door{
  position: fixed;
  overflow: hidden;
  bottom: 10vh;
  width: 22%;
  transition: transform ease 1s 0.4s;
  z-index: 10;
}

#frame{
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 10vh;
  width: 44%;
  max-height: 60vh;
}

.door img{
  position: static;
  width: 200%;
  max-height: 60vh;
  /*height: auto;*/
}

#door_l{
  right: 50%;
  transform-origin: left center;
}

#door_r{
  left: 50%;
  transform-origin: right center;
}

#door_r img{
  transform: translateX(-50%);
}

#floor{
  max-width: 100%;
  max-height: 11vh;
  bottom: 0;
  left: 0;
}

#porch img{
  left: 0;
  transform: translateX(-50%);
}

.house_part{
  position: fixed;
}

.scale_container{
  width: 100%;
  height: 100vh;
  transform: scale(1);
  transform-origin: center;
  transition: transform linear 1.4s; 
  -webkit-transition: transform linear 1.4s;
}

#gate_container{
  z-index: 4;
}

#homepage.fade_out{
  opacity: 0;
}

.open_gate .scale_container{
  transform: scale(2);
}

.open_gate #door_l{
  transform: perspective(2000px) rotateY(-92deg);
}

.open_gate #door_r{
  transform: perspective(2000px) rotateY(92deg);
}

.open_gate #good{
  transform: perspective(1000px) rotateY(90deg);
}

.open_gate #porch{
  transform: perspective(1000px) rotateY(-90deg);
}
