#products,
#past_products{
  box-sizing: border-box;
}


.products_container{
  background-size: 7rem;
  background-repeat: repeat;
  transition: opacity;
  background-image: url(../img/bg/tile.svg);
  background-attachment: fixed;
  padding: 1.5rem;
}

#past_products{
  position: relative;
  padding-bottom: 3.5rem;
}

#past_products:before{
  content: 'Series 1';
  display: inline-block;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.5rem;
  margin-bottom: 1.75rem;
  font-size: 1.6rem;
  margin-left: -0.35rem;
}

#products_list{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.work_link_container{
  display: inline-block;
  width: calc(25% - 1.5rem);
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 1.85rem;
  border: 1px solid #000;
  position: relative;
  /*z-index: 3;*/
}

.work_link_container:before{
  content: '';
  position: absolute;
  top: -0.3rem;
  left: -0.3rem;
  right: -0.3rem;
  bottom: -0.3rem;
  border: 1px solid #000; 
  background-color: #fff;
  z-index: 0;
}

.work_link_container.sold_out .work_figure{  
  opacity: 0.5;
}

.work_link_container.sold_out:after{
  content: 'Sold Out';
  color: #f00;
  font-size: 1.9rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  /*height: calc(25vw - 1rem);*/
  padding: 12vw 0;
  z-index: 10;
  mix-blend-mode: multiply;
}

.work_link_container.sold_out:hover .work_links{
  opacity: 0;
  pointer-events: none;
}

.work_link_container:hover .work_links{
  opacity: 1;
  pointer-events: auto;
}

.work_link_container:hover .work_links{
  opacity: 1;
}

.work_link_container img{
  width: 100%;
}

.work_links{
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  width: 100%;
  height: calc(25vw);
  padding: 1rem 0;
  opacity: 0;
  transition: opacity ease 0.25s;
  background: radial-gradient(#fff, rgba(255,255,255,0));
}

.links_wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work_figure{
  position: relative;
  display: flex;
  padding: 0.5rem;
  border: 1px solid #000;
  box-sizing: border-box;
  z-index: 10;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.work_caption{
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.work_links a{
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.work_links a:hover{
  text-decoration: underline;
}