#products,
#past_products{
  box-sizing: border-box;
}

#products{
  padding: 4.3rem 0.5rem 0 0.5rem;
  background: url(../img/bg/yellow_brick.svg);
  background-color: #ffda00;
  background-attachment: fixed;
  background-size: 3rem;

}

#past_products{
  padding: 0.5rem 0.5rem 0 0.5rem;
  background: url(../img/bg/green_brick.svg);
  background-color: #078e0d;
  background-attachment: fixed;
  background-size: 3rem;
  position: relative;
}

#past_products:before{
  content: 'Series 1';
  display: inline-block;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

#products_list{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.work_link_container{
  display: inline-block;
  width: calc(25% - 0.5rem);
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  background-color: #fff;
  margin-bottom: 0.5rem;
  border: 2px solid #000;
  position: relative;
}

.work_link_container.sold_out .work_figure{  
  /*opacity: 0.5;*/
}

.work_link_container.sold_out:after{
  content: 'Sold Out';
  color: #f00;
  font-size: 1.6rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  /*height: calc(25vw - 1rem);*/
  padding: 12vw 0;
  background: radial-gradient(#fff, rgba(255,255,255,0));
}

.work_link_container.sold_out:hover .work_links{
  opacity: 0;
  pointer-events: none;
}

.work_link_container:hover .work_links{
  opacity: 1;
  pointer-events: auto;
}

.work_link_container:hover .work_links{
  opacity: 1;
}

.work_link_container img{
  width: 100%;
}

.work_links{
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  width: 100%;
  height: calc(25vw - 1rem);
  padding: 1rem 0;
  opacity: 0;
  transition: opacity ease 0.25s;
  background: radial-gradient(#fff, rgba(255,255,255,0));
}

.links_wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work_figure{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.work_caption{
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.work_links a{
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.work_links a:hover{
  text-decoration: underline;
}